---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio accout sid>/Messages.json
    body:
      encoding: US-ASCII
      string: Body=hi&From=9714071682&To=1111111
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhNGVhNTZlNWI4ZmQzY2E5NzYwMmI5ZjAwMDgwNDFmOToyZWJlY2EzOGYyZTlhMDEyN2M4NGVjNGNkYjgyZDcwMQ==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.080'
      Twilio-Request-Id:
      - RQ26e13346ca5b489ca53384f17ffc47fd
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number 1111111 is not a valid
        phone number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Mon, 27 Feb 2017 22:33:16 GMT
recorded_with: VCR 3.0.3
